<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

	<add key="sensor_ip" value="10.0.1.117"/>
	<add key="TOP_id" value="10.0.1.165"/>
	<add key="HR1_id" value="10.0.1.174"/>
	<add key="HR2_id" value="10.0.1.153"/>
	<add key="sensor_temperature" value="1"/>
	<add key="top_tok_a_1" value="1"/>
	<add key="top_tok_a_2" value="1"/>
	<add key="top_tok_b_1" value="1"/>
	<add key="top_tok_b_2" value="1"/>
	<add key="top_tok_c_1" value="1"/>
	<add key="top_tok_c_2" value="1"/>
	<add key="power_a_active_1" value="1"/>
	<add key="power_a_active_2" value="1"/>
	<add key="power_a_reactive_1" value="1"/>
	<add key="power_a_reactive_2" value="1"/>
	<add key="power_b_active_1" value="1"/>
	<add key="power_b_active_2" value="1"/>
	<add key="power_b_reactive_1" value="1"/>
	<add key="power_b_reactive_2" value="1"/>
	<add key="power_c_active_1" value="1"/>
	<add key="power_c_active_2" value="1"/>
	<add key="power_c_reactive_1" value="1"/>
	<add key="power_c_reactive_2" value="1"/>
	<add key="hr1_h2_1" value="1"/>
	<add key="hr1_h2_2" value="1"/>
	<add key="hr1_co_1" value="1"/>
	<add key="hr1_co_2" value="1"/>
	<add key="hr1_co2_1" value="1"/>
	<add key="hr1_co2_2" value="1"/>
	<add key="hr1_ch4_1" value="1"/>
	<add key="hr1_ch4_2" value="1"/>
	<add key="hr1_c2h2_1" value="1"/>
	<add key="hr1_c2h2_2" value="1"/>
	<add key="hr1_c2h4_1" value="1"/>
	<add key="hr1_c2h4_2" value="1"/>
	<add key="hr1_c2h6_1" value="1"/>
	<add key="hr1_c2h6_2" value="1"/>
	<add key="hr1_temperature" value="1"/>
	<add key="hr1_moisture" value="1"/>
	<add key="hr2_h2_1" value="1"/>
	<add key="hr2_h2_2" value="1"/>
	<add key="hr2_co_1" value="1"/>
	<add key="hr2_co_2" value="1"/>
	<add key="hr2_co2_1" value="1"/>
	<add key="hr2_co2_2" value="1"/>
	<add key="hr2_ch4_1" value="1"/>
	<add key="hr2_ch4_2" value="1"/>
	<add key="hr2_c2h2_1" value="1"/>
	<add key="hr2_c2h2_2" value="1"/>
	<add key="hr2_c2h4_1" value="1"/>
	<add key="hr2_c2h4_2" value="1"/>
	<add key="hr2_c2h6_1" value="1"/>
	<add key="hr2_c2h6_2" value="1"/>
	<add key="hr2_temperature" value="1"/>
	<add key="hr2_moisture" value="1"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>